@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800;&display=swap');
@font-face {
	src: url("./fonts/Bebas_Neue.ttf") format("truetype");
	font-family: "Bebas_Neue";
	font-weight: bold;
}